<launch>
    <!-- If a node_name argument is provided by the caller then we will set the metric node's name to that value -->
    <arg name="node_name" default="lex_node" />
    <!-- If a config file argument is provided by the caller then we will load it into the node's namespace -->
    <arg name="config_file" default="" />

    <node name="$(arg node_name)" pkg="lex_node" type="lex_node">
        <!-- If the caller specified a config file then load it here. -->
        <rosparam if="$(eval config_file!='')" command="load" file="$(arg config_file)"/>
    </node>
</launch>
